<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		<startup>
				<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
		</startup>
		<system.serviceModel>
				<services>
						<service name="WCFSoapService.WcfSoapService">
								<host>
										<baseAddresses>
												<add baseAddress="http://localhost:8000/WcfSoapService"/>
										</baseAddresses>
								</host>
								<endpoint address="http://localhost:8000/WcfSoapService"
                          binding="basicHttpBinding"
                          contract="SharedDll.Interfaces.IWcfSoapService" />
								<endpoint address="mex"
                          binding="mexHttpBinding"
                          contract="IMetadataExchange" />
						</service>
				</services>
				<behaviors>
						<serviceBehaviors>
								<behavior>
										<serviceMetadata httpGetEnabled="true"/>
										<serviceDebug includeExceptionDetailInFaults="true"/>
								</behavior>
						</serviceBehaviors>
				</behaviors>
		</system.serviceModel>
</configuration>